In [1]:
import foodcosts.core as core
import pandas as pd

In [18]:
shop = 'LATEM'
date = '2023-01-26'

# Shop LATEM

In [12]:
def get_all_sold_items_for_given_day_and_shop(day, shop):    
    return core.get_query_res_as_pd(
        f"""
        SELECT 
            vp.name,
            sum(vpol.quantity) as qty_sold,
            sum(vpol.quantity*vp.price) as total
        FROM v_pos_order_line as vpol
        left join v_pos_order as vpo on vpo.id = vpol.order_id
        left join v_pos_session as vs on vs.id = vpo.session_id
        left join v_pos as vpos on vpos.id = vs.pos_id
        left join v_shop as vshop on vpos.shop_id = vshop.id
        left join v_product as vp on vp.id = vpol.product_id
        where vshop.name = '{shop}'
        and created_at between '{day} 00:00' and '{day} 23:59'
        group by vp.name
        order by total desc;
        """
    )

In [19]:
all_sold_items_for_given_day_and_shop_df = get_all_sold_items_for_given_day_and_shop(date,shop)

In [28]:
all_sold_items_for_given_day_and_shop_df.index = all_sold_items_for_given_day_and_shop_df.name

In [29]:
all_sold_items_for_given_day_and_shop_df

,name,qty_sold,total
name,,,
"LEGUMES / SALADES 21,7 EURO/KG","LEGUMES / SALADES 21,7 EURO/KG",12.252,265.8684
DOS DE CABILLAUD EPICE,DOS DE CABILLAUD EPICE,2.040,110.1600
ASPERGE VERTE ET SUGAR SNAPS,ASPERGE VERTE ET SUGAR SNAPS,2.658,76.5504
RADIATORI JAMBON FROMAGE 400G,RADIATORI JAMBON FROMAGE 400G,5.000,36.2000
SAUMON MI CUIT EPICE (1 kg),SAUMON MI CUIT EPICE (1 kg),0.652,28.6880
...,...,...,...
SALADE POULET NATURE 150G,SALADE POULET NATURE 150G,1.000,2.6500
BRU PETILLANTE PLASTIQUE 50 CL,BRU PETILLANTE PLASTIQUE 50 CL,1.000,1.5000
VENTE COMPTOIR,VENTE COMPTOIR,1.000,1.0000
Discount,Discount,-459.000,-9.1800
CAUTION VASE DONAU MOYEN 28 CM,CAUTION VASE DONAU MOYEN 28 CM,-1.000,-35.0000

In [13]:
def get_all_sold_items_for_given_day(day):    
    return core.get_query_res_as_pd(
        f"""
        SELECT 
            vp.name,
            sum(vpol.quantity) as qty_sold,
            sum(vpol.quantity*vp.price) as total
        FROM v_pos_order_line as vpol
        left join v_pos_order as vpo on vpo.id = vpol.order_id
        left join v_pos_session as vs on vs.id = vpo.session_id
        left join v_pos as vpos on vpos.id = vs.pos_id
        left join v_shop as vshop on vpos.shop_id = vshop.id
        left join v_product as vp on vp.id = vpol.product_id
        and created_at between '{day} 00:00' and '{day} 23:59'
        group by vp.name
        order by total desc;
        """
    )

In [30]:
all_sold_items_for_given_day_df = get_all_sold_items_for_given_day(date)

In [35]:
all_sold_items_for_given_day_df.index = all_sold_items_for_given_day_df.name
all_sold_items_for_given_day_df['all_qty_sold'] = all_sold_items_for_given_day_df.qty_sold
all_sold_items_for_given_day_df['all_total'] = all_sold_items_for_given_day_df.total
all_sold_items_for_given_day_df.drop('qty_sold', axis=1, inplace=True)
all_sold_items_for_given_day_df.drop('total', axis=1, inplace=True)

In [36]:
all_sold_items_for_given_day_df

,name,all_qty_sold,all_total
name,,,
None,None,-1498794.134,NaN
SALADE BAR FTK,SALADE BAR FTK,325.319,7059.4223
HOT BAR FTK,HOT BAR FTK,202.617,4396.7889
"PLAT DU JOUR 8,50â‚¬","PLAT DU JOUR 8,50â‚¬",148.000,1258.0000
SANDWICH CLASSIQUE CLUB,SANDWICH CLASSIQUE CLUB,280.000,1176.0000
...,...,...,...
CAUTION VERRINE/JATTE,CAUTION VERRINE/JATTE,-14.000,-7.0000
CAUTION VASE DONAU PETIT 18 CM,CAUTION VASE DONAU PETIT 18 CM,-5.000,-100.0000
Discount,Discount,-7829.000,-156.5800
CAUTION PLATEAU MELAMINE,CAUTION PLATEAU MELAMINE,-6.000,-210.0000
CAUTION VASE DONAU MOYEN 28 CM,CAUTION VASE DONAU MOYEN 28 CM,-8.000,-280.0000

In [8]:
all_sold_items_for_given_day_and_shop_df.loc[all_sold_items_for_given_day_and_shop_df["total"] > 100]

                             name  qty_sold     total
0  LEGUMES / SALADES 21,7 EURO/KG    12.252  265.8684
1          DOS DE CABILLAUD EPICE     2.040  110.1600

In [23]:
all_sold_items_for_given_day_and_shop_df.sum()['total']

1412.1984400000001

In [54]:
all_sold_items_for_given_day_and_shop_df.head(n=20)

,name,qty_sold,total
name,,,
"LEGUMES / SALADES 21,7 EURO/KG","LEGUMES / SALADES 21,7 EURO/KG",12.252,265.8684
DOS DE CABILLAUD EPICE,DOS DE CABILLAUD EPICE,2.040,110.1600
ASPERGE VERTE ET SUGAR SNAPS,ASPERGE VERTE ET SUGAR SNAPS,2.658,76.5504
RADIATORI JAMBON FROMAGE 400G,RADIATORI JAMBON FROMAGE 400G,5.000,36.2000
SAUMON MI CUIT EPICE (1 kg),SAUMON MI CUIT EPICE (1 kg),0.652,28.6880
SPAGHETTI BOLOGNAISE 550G,SPAGHETTI BOLOGNAISE 550G,3.000,28.4400
CANNELLONI BOLOGNAISE / TOMATES / CAROTTES / FENOUIL / OIGNONS (500 g),CANNELLONI BOLOGNAISE / TOMATES / CAROTTES / F...,1.286,28.4206
GRATIN DAUPHINOIS,GRATIN DAUPHINOIS,1.820,28.2100
RISOTTO AUX ASPERGES VERTES ET PETITS POIS 400G,RISOTTO AUX ASPERGES VERTES ET PETITS POIS 400G,3.000,26.5200
BROCHETTE POISSON EPICEE,BROCHETTE POISSON EPICEE,0.710,26.4120
COQUELET CUIT + SAUCE COMPTOIR,COQUELET CUIT + SAUCE COMPTOIR,3.000,26.1000
GAMBAS GEANTES (1 kg),GAMBAS GEANTES (1 kg),0.420,26.0400
PLAT DU JOUR 11.9,PLAT DU JOUR 11.9,2.000,23.8000
TARTE MOELLEUX CHOCOLAT PORTION,TARTE MOELLEUX CHOCOLAT PORTION,5.000,22.7500
BELLES DE FONTENAY / GROS SEL / ROMARIN,BELLES DE FONTENAY / GROS SEL / ROMARIN,1.716,22.1364
PAVLOVA AUX FRUITS ROUGES JETABLE,PAVLOVA AUX FRUITS ROUGES JETABLE,3.000,20.4000
CIVET DE BICHE / CHAMPIGNONS DES BOIS / MOUTARDE TIERENTEYN (1 kg),CIVET DE BICHE / CHAMPIGNONS DES BOIS / MOUTAR...,0.606,20.0586
"2 - 5P SCAMPIS ALL' ARRABBIATA, COURGETTES ET PETITS POIS, RADIATORI EN PERSILLADE AU CITRON","2 - 5P SCAMPIS ALL' ARRABBIATA, COURGETTES ET ...",2.000,19.7800
AUBERGINES FARCIES A LA LIBANAISE (500 g),AUBERGINES FARCIES A LA LIBANAISE (500 g),1.006,19.0134
TIRAMISU SPECULOOS 110G,TIRAMISU SPECULOOS 110G,6.000,18.6000

,name,all_qty_sold,all_total
name,,,
None,None,-1498794.134,NaN
SALADE BAR FTK,SALADE BAR FTK,325.319,7059.4223
HOT BAR FTK,HOT BAR FTK,202.617,4396.7889
"PLAT DU JOUR 8,50â‚¬","PLAT DU JOUR 8,50â‚¬",148.000,1258.0000
SANDWICH CLASSIQUE CLUB,SANDWICH CLASSIQUE CLUB,280.000,1176.0000
...,...,...,...
CAUTION VERRINE/JATTE,CAUTION VERRINE/JATTE,-14.000,-7.0000
CAUTION VASE DONAU PETIT 18 CM,CAUTION VASE DONAU PETIT 18 CM,-5.000,-100.0000
Discount,Discount,-7829.000,-156.5800
CAUTION PLATEAU MELAMINE,CAUTION PLATEAU MELAMINE,-6.000,-210.0000
CAUTION VASE DONAU MOYEN 28 CM,CAUTION VASE DONAU MOYEN 28 CM,-8.000,-280.0000